@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base animation state */
[data-animate] {
  opacity: 0;
  transition:
    opacity 0.7s ease,
    transform 0.7s ease;
  will-change: opacity, transform;
}

/* Directions */
.fade-up {
  transform: translateY(24px);
}

.fade-left {
  transform: translateX(-24px);
}

.fade-right {
  transform: translateX(24px);
}

/* When visible */
.is-visible {
  opacity: 1;
  transform: translate(0, 0);
}

/* NAVBAR BURGER BTN */
@layer components {
  .hamburger-bar {
    @apply block h-0.5 w-6 bg-black duration-300;
  }
}
