@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base animation state */
[data-animate] {
  opacity: 0;
  transition:
    opacity 0.7s ease,
    transform 0.7s ease;
  will-change: opacity, transform;
}

/* Directions */
.fade-up {
  transform: translateY(24px);
}

.fade-left {
  transform: translateX(-24px);
}

.fade-right {
  transform: translateX(24px);
}

/* When visible */
.is-visible {
  opacity: 1;
  transform: translate(0, 0);
}

/* PAGE TRANSITION FOR CLIENT ROUTER (NOT NEEDED, JUST BETTER UI) */
::view-transition-old(root) {
  animation: fade-out 0.5s ease forwards;
}

::view-transition-new(root) {
  animation: fade-in 0.5s ease forwards;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* NAVBAR BURGER BTN */
@layer components {
  .hamburger-bar {
    @apply block h-0.5 w-6 bg-black duration-300;
  }
}
