@tailwind base;
@tailwind components;
@tailwind utilities;

/* PAGE TRANSITION FOR CLIENT ROUTER (NOT NEEDED, JUST BETTER UI) */
::view-transition-old(root) {
  animation: fade-out 0.5s ease forwards;
}

::view-transition-new(root) {
  animation: fade-in 0.5s ease forwards;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* NAVBAR BURGER BTN */
@layer components {
  .hamburger-bar {
    @apply block h-0.5 w-6 bg-black duration-300;
  }
}
